/**************************************************
* Selettori Tag
**************************************************/
h2 { font-size: 2.5rem; margin: 0; padding: 0;}
h3 { font-size: 2.3rem; margin: 0; padding: 0;}
h4 { font-size: 1.3rem; margin: 0; padding: 0;}
h5, small, footer { font-size: 0.9rem; margin: 0; padding: 0;}


body { font-family:  Arial, sans-serif;}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/**************************************************
* Layout
**************************************************/

/************** Navbar **************/
/* Nav Sony */
._nav-sony img{
  width: 80px;
  padding: 10px 0;
}
/* Nav Ps */
._nav-ps-left ul li {
  display: inline-block;
}
._arrow-down{
  width: 16px;
  padding-left: 5px;
  padding-bottom: 2px;
}

._nav-ps-right ul li {
  display: inline-block;
}
._lens {
  height: 23px;
  padding-left: 20px;
}

/************** Hero **************/
._bg-hero {
  background-image: url(..//img/jumbo-bg.png);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

/************** Card Game **************/
._section-card-game .row .col img {
  border-radius: 20px;
}

/************** PS5 **************/
._section-ps5 .row .col {
  opacity: 0.5;
}
._section-ps5 .row .col:hover {
  opacity: 1;
  border-bottom: 2px solid #2D64E6;
}
._section-ps5 .row .col h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}

/************** Hero-2 **************/
._bg-hero-2 {
  background-image: url(..//img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

/************** Section New Releases **************/
._section-medium._section-new-releases {
  padding-bottom: 90px;
}
._section-new-releases .container .row img {
  border-radius: 10%;
}

/* Section Playstation Plus */
._section-playstation-plus {
  padding-top: 30px;
  padding-bottom: 30px;
}

/************** Footer **************/
footer ul li {
  padding-bottom: 13px;
}
footer ul li a {
  color: white;
}



/**************************************************
* Utilities
**************************************************/
/* Section */
._section-base {
  padding-top: 30px;
  padding-bottom: 30px;
}
._section-medium {
  padding-top: 50px;
  padding-bottom: 50px;
}
._section-large {
  padding-top: 70px;
  padding-bottom: 70px;
}
._section-large-2 {
  margin-top: 70px;
  margin-bottom: 70px;
}
._section-hero {
  padding-top: 250px;
  padding-bottom: 50px;
}
/* Section text */
._section-title {
  padding-bottom: 30px;
}
._section-text {
  padding-bottom: 30px;
}
._section-subtitle {
  padding-bottom: 30px;
  color: #727272;
  font-size: 1.5rem;
}
._section-super {
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #2D64E6;
}
._section-text-card {
  padding-top: 20px;
  font-size: 1.1rem;
}


/* Button */
._btn-orange {
  background-color: #CD3D0F;
  color: white;
}
._btn-blue {
  background-color: #2D64E6;
  color: white;
}
._btn-grey {
  background-color: #D9DADC;
  color: #2D64E6;
}
._btn-white {
  background-color: white;
  color:black;
}
/**************************************************
* Root
**************************************************/
:root {
  --bs-warning-rgb: 205,61,15;
}

/**************************************************
* Media Query
**************************************************/


/*   xs <575 / sm >576 / md >768 /lg >992   */